<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208543233592-s9njcrqq98325bb7no7e54ujk5qt5f60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208543233592-s9njcrqq98325bb7no7e54ujk5qt5f60</string>
	<key>API_KEY</key>
	<string>AIzaSyAwXp3yidpPQzQiwyvu2p_oFH_gFXw5s8w</string>
	<key>GCM_SENDER_ID</key>
	<string>208543233592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialLogin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sociallogin-bb669</string>
	<key>STORAGE_BUCKET</key>
	<string>sociallogin-bb669.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208543233592:ios:7b24118212e51ff10e98cd</string>
</dict>
</plist>